# Python ignores
__pycache__

# Commit logger specific ignores
commit_logger/data
commit_logger/network_information.txt

# Mini explorer specific ignores
mini_explorer/data

# Status page specific ignores
status_page/watchdog_authentication.txt


# Validator earning specific ignores
validator_earning/data

# Delegator leaderboard specific ignores
delegator_leaderboard/csv
delegator_leaderboard/data

# One holder specific ignores
one_holder/csv
one_holder/data
one_holder/logs
